In [1]:
import pandas as pd

space = pd.read_csv('space.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'space.csv'

In [4]:
space.head()

,Mission ID,Mission Name,Launch Date,Target Type,Target Name,Mission Type,Distance from Earth (light-years),Mission Duration (years),Mission Cost (billion USD),Scientific Yield (points),Crew Size,Mission Success (%),Fuel Consumption (tons),Payload Weight (tons),Launch Vehicle
0,MSN-0001,Mission-1,2025-01-01,Star,Titan,Colonization,7.05,5.2,526.68,64.3,21,100.0,731.88,99.78,SLS
1,MSN-0002,Mission-2,2025-01-08,Exoplanet,Betelgeuse,Colonization,41.76,23.0,234.08,84.4,72,89.6,4197.41,45.72,Starship
2,MSN-0003,Mission-3,2025-01-15,Asteroid,Mars,Exploration,49.22,28.8,218.68,98.6,16,98.6,4908.00,36.12,Starship
3,MSN-0004,Mission-4,2025-01-22,Exoplanet,Titan,Colonization,26.33,17.8,232.89,36.0,59,90.0,2569.05,40.67,Starship
4,MSN-0005,Mission-5,2025-01-29,Exoplanet,Proxima b,Mining,8.67,9.2,72.14,96.5,31,73.2,892.76,12.40,Starship

In [5]:
space.describe()

,Distance from Earth (light-years),Mission Duration (years),Mission Cost (billion USD),Scientific Yield (points),Crew Size,Mission Success (%),Fuel Consumption (tons),Payload Weight (tons)
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,25.483060,15.736800,277.300280,55.223400,50.118000,92.616600,2543.522140,50.355620
std,14.942128,7.578316,141.137422,26.446232,27.660989,9.391094,1492.964489,28.227546
min,0.350000,1.400000,13.320000,10.000000,1.000000,66.000000,18.060000,1.020000
25%,11.750000,8.900000,149.960000,33.775000,27.000000,85.500000,1177.315000,25.567500
50%,26.185000,16.400000,282.170000,54.400000,50.000000,98.600000,2597.985000,50.995000
75%,38.570000,22.200000,399.995000,79.025000,74.000000,100.000000,3859.355000,74.482500
max,49.900000,29.500000,538.320000,99.800000,99.000000,100.000000,5018.600000,99.780000

In [6]:
space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Mission ID                         500 non-null    object
 1   Mission Name                       500 non-null    object
 2   Launch Date                        500 non-null    object
 3   Target Type                        500 non-null    object
 4   Target Name                        500 non-null    object
 5   Mission Type                       500 non-null    object
 6   Distance from Earth (light-years)  500 non-null    float64
 7   Mission Duration (years)           500 non-null    float64
 8   Mission Cost (billion USD)         500 non-null    float64
 9   Scientific Yield (points)          500 non-null    float64
 10  Crew Size                          500 non-null    int64
 11  Mission Success (%)                500 non-null    float64
 12  Fuel Consumption (tons)            500 non-null    float64
 13  Payload Weight (tons)              500 non-null    float64
 14  Launch Vehicle                     500 non-null    object
dtypes: float64(7), int64(1), object(7)
memory usage: 58.7+ KB